<div class="container-fluid">
    <div class="card">
        <div class="card-header bg-gradient-primary">
            <h3 class="card-title">Installment Arrears</h3>
            <div class="row">
               
            </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <table id="installmentArrearsTable" class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Client Name</th>
                        <th>Identifier</th>
                        <th>Installment #</th>
                        <th>Amount(MWK)</th>
                        <th>Due Date</th>
                        <th>Days Overdue</th>
                        <th>Penalty (MWK)</th>
                        <th>Total Arrears (MWK)</th>
                        <th>Category</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
               
            </table>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</div>


