<div class="container-fluid">
    <div class="card">
      <div class="card-header bg-gradient-primary">
        <h3 class="card-title">Scheduled Tasks</h3>
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12 text-right">
            <button
              type="button"
              class="btn btn bg-gradient-success text-left"
              id="btnScheduledTasks"
              data-action-type="add"
            >
              <i class="fa fa-plus-square"></i> New Scheduled Task
            </button>
          </div>
        </div>
      </div>
      <div class="card-body">
        <table id="scheduledTasksTable" class="table table-striped">
          <thead>
            <tr>
              <th>ID</th>
              <th>Job Name</th>
              <th>Job Class</th>
              <th>Frequency</th>
              <th>Run Time</th>
              <th>Next Run</th>
              <th>Last Run</th>
              <th>Run Count</th>
              <th>Status</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
    </div>
  </div>