<div class="container-fluid">
    <div class="card">
      <div class="card-header bg-gradient-primary">
        <h3 class="card-title">Scheduled Tasks</h3>
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12 text-right">
            <button
              type="button"
              class="btn btn bg-gradient-success text-left"
              id="btnScheduledTasks"
              data-action-type="add"
            >
              <i class="fa fa-plus-square"></i> New Scheduled Task
            </button>
          </div>
        </div>
      </div>
      <div class="card-body">
        <table id="scheduledTasksTable" class="table table-striped">
          <thead>
            <tr>
              <th class = "text-md">ID</th>
              <th class = "text-md" >Job Name</th>
              <th class = "text-md">Job Class</th>
              <th class = "text-md">Frequency</th>
              <th class = "text-md">Run Time</th>
              <th class = "text-md">Next Run</th>
              <th class = "text-md">Last Run</th>
              <th class = "text-md" >Count</th>
              <th class = "text-md">Status</th>
                <th class = "text-md">Edit</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
    </div>
  </div>